h3{
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
}
.table{
    margin: 10px auto;
    width: 60%;
    height: auto;
table,th,td{
    border: 0.1px solid grey;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
}
}
.input{
    text-align: center;
input{
    margin: 10px auto;
    width: 400px;
    height: 25px;
    padding-left: 20px;
}
button{
    width: 100px;
    height: 25px;
    background-color: rgb(75, 74, 74);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
}